.App {
  text-align: center;
  background-color: #0055ffea;
  min-height: 100vh;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: rgba(255, 255, 255, 0.925);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  /* background: rgba(145, 144, 144, 0.514); */

  background: rgb(194,194,194);
background: linear-gradient(0deg, rgba(201, 201, 201, 0.603) 0%, rgba(209, 209, 209, 0.753) 100%);
  border: 7px solid #333);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  width: 80px;
  border-radius: 5px; 
  box-shadow: 1px 0px 6px slategray;
}
    .square:hover {
      background-color: rgba(90, 90, 90, 0.575);
    }

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
}
.game-board {
  display: flex;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}
